include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/portaljs_improvements *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/portaljs_improvements/migration *.ini *.py *.mako
